body {
  background-color: #ffff72;
}
body {
  text-align: center;
}
#instantexample,
#transitionexample {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background-color: crimson;
  margin-top: 50px;
}
#instantexample:hover {
  transform: rotate(45deg);
  transition: transform 1s ease;
}
