strong {
  margin-left: auto;

}
img {
  display: block;
  text-align: center;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}
body {
  height: 100%;
  width: 100%;
  margin: auto;
  color: red;
  font-size: 20px;
  text-align: center;
  background-image: url(img/cave2.png);
  background-size: cover;

}
p {

}
ul {
  list-style-type: upper-roman;
}

:visited {
	color: hsl(0, 100%, 50%);
}
a:hover {
	color: darken(hsl(0, 100%, 50%), 20%);
}

