.slide {
  animation-name: looparound;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  display: block;
  position: absolute;
  border: 15px #F00F00;

}
@keyframes looparound {
  0% {
    left: 2%;
  }  
  50% {
    left: 70%;
  }
  100% {
    left: 2%;

  }
}
body{  animation-name: bytabild;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  display: block;
  
}
@keyframes bytabild {
  0% {
    background-image: url(https://resize.rbl.ms/simage/https%3A%2F%2Fassets.rbl.ms%2F8302823%2F1200x600.jpg/2000,2000/mf8vJlpe3M0P8uoE/img.jpg);
  }
  50% {
    background-image: url(http://www.space.com/images/i/000/011/535/original/dumbbell-nebula-messier-27.jpg?interpolation=lanczos-none&downsize=*:1000);
  }
  100% {
    background-image: url(https://resize.rbl.ms/simage/https%3A%2F%2Fassets.rbl.ms%2F8302823%2F1200x600.jpg/2000,2000/mf8vJlpe3M0P8uoE/img.jpg);
  }
 
}
h1 {
  padding-top:200px;
  text-align: center;
  color: #ff00ff;
  font-family: helvetica;
  font-size: 36;
}
h3 {
  text-shadow: 15;
  color: #ffffff;
}

div {
  padding-top: 10px;
  text-align: center;
  color: #FF00FF;
  font-family: helvetica;
  font-size: 20;
}
div img {
  width: 700px;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent), to(rgba(255, 255, 255, 0.2)));
}

p {
  text-align: center;
   text-shadow: 0 0 5px #ff00FF;
}
#options{
  text-align: center;
  margin-left: 200px;
}
a {
  border: solid;
  border-color: #7fffd4;
  color: #ff00ff;
  font-family: helvetica;
  font-size: 20;
  text-decoration: none;
  text-shadow: 0 0 3px #0FF000;
}
