body {
  background-color: gold;
}

footer {
  border-top: 1px solid black;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 12px;
  font-style: italic;
}

main {
  min-height: 500px;
}


.picture {
  height: 100px;
  width: 100px;
  background-image: url(pics/mypic.png);
  background-size: 100% 100%;
}


img {
  max-height: 250px;
  max-width: 450px;
}



MyGame
  bla.html
  style.css
  PICS
    myppic.png