body {

	background-color: black;
	text-align: center;

}

.wrapper {
	
	width: 50%;
	margin: auto;
	padding: 10px;
	text-align: left;
	
}

img {
	
	width: 100%;
	
}

h1, h2, h3, p {
	
	color: white;
	
}

a {
	
	text-decoration: none;
	color: #990044;
	
}

a:hover {
	
	color: #ff0066;
	
}